.d-flex{display: flex;}
.d-inline{display: inline;}
.d-inblock{display: inline;}
.flex-column{flex-direction: column;}
.gap-10{gap: 10px;}
.gap-20{gap: 20px;}


$Poppins-Light:"Poppins-Light";
$Poppins-Medium:"Poppins-Medium";
$Poppins-Regular:"Poppins-Regular";
$Poppins-SemiBold:"Poppins-SemiBold";
$Poppins-Bold:"Poppins-Bold";